<h3>Here are your friends!</h3>
<button class="cardButtons" (click)="showAddFriendSection()">Add a Friend</button>
 <button class="cardButtons" (click)="showAcceptInvite()">View Invites</button>

<div *ngIf="this.addFriendSection == true" class="container">
<mat-card class="add-friend-card">
  <mat-form-field appearance="outline">
    <mat-card-header>
      <mat-card-title>Select friend</mat-card-title>
    </mat-card-header>
    <mat-select [(ngModel)]="userSelect">
      <mat-option *ngFor="let users of userService.returnUserNames()" [value]="users.name">{{users.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-card-actions>
    <button class="cardButtons" (click)="friendService.sendFriendInvite(userSelect)">Add</button>
   <button class="cardButtons" (click)="unshowAddFriendSection()">Cancel</button>

  </mat-card-actions>

</mat-card>
</div>

<div *ngIf="this.acceptInviteSection == true">
  <h3>Accept Invite Section</h3>
  <ul>
    <li *ngFor="let item of friendService.returnFriendInviteInfo()" >
      <button class="cardButtons" (click)="friendService.AcceptInvite(item.fromFriendName)">
        {{item.fromFriendName}}
      </button>
    </li>
  </ul>
  <button class="cardButtons"  (click)="friendService.RemoveInvite(this.userId)">Delete</button>

  <span><button class="cardButtons"  (click)="unShowAcceptInvite()">Cancel</button></span>
</div>

<div *ngIf="this.showFriendsSection == true">
<mat-card class="friend-card" *ngFor="let item of friendService.returnFriendsList()">
  <div *ngIf="item.isFriend == true">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{item.friendName}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <button class="cardButtons"  (click)="friendService.loadFriendRecipes(item.friendId)">
        Get Recipes
      </button>

    </mat-card-actions>
  </div>
</mat-card>
</div>

<app-friends-recipes *ngIf="uiservice.getShowFriendsRecipes()"></app-friends-recipes>