<p>Here are your friends!</p>
<p> <button (click)="uiservice.setAddPantryItemPage()">Add a Friend</button></p>

<mat-card class="friend-card" *ngFor="let item of uiservice.returnFriendsList()">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{item.friendName}}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button (click)="uiservice.loadFriendRecipes(item.friendId)">
      Get Recipes
    </button>
  
  </mat-card-actions>
</mat-card>

<app-friends-recipes *ngIf="uiservice.getShowFriendsRecipes()"></app-friends-recipes>