<mat-toolbar class="navbar">
  <button mat-icon-button class=" menu-button"  [matMenuTriggerFor]="menu" *ngIf="!uiservice.getShowLogin()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="uiservice.setPantryPage()">Pantry</button>
    <button mat-menu-item (click)="uiservice.setRecipesPage()">Recipes</button>
    <button mat-menu-item (click)="uiservice.setFriendsPage()">Friends</button>
  </mat-menu>
  
    <span class="example-spacer">Pantry App! Welcome: {{uiservice.getFirstName()}}</span>


    <button mat-icon-button class="example-icon" (click)="uiservice.logout()">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>