<app-navbar></app-navbar>
<app-login *ngIf="uiservice.getShowLogin()"></app-login>
<app-pantry *ngIf="uiservice.getShowPantry()"></app-pantry>
<app-recipes *ngIf="uiservice.getRecipesPage()" ></app-recipes>
<app-friends *ngIf="uiservice.getFriendsPage()"></app-friends>
<app-add-user *ngIf="uiservice.getShowAddUserPage()"></app-add-user>
<app-add-recipe *ngIf="uiservice.getShowAddRecipePage()"></app-add-recipe>
<app-add-pantry-item *ngIf="uiservice.getShowAddPantryItemPage()"></app-add-pantry-item>